node-red/unused/new_ver.json
[
    {
        "id": "81df65c5080d9ae6",
        "type": "tab",
        "label": "Smart Plant Dashboard (Pro)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0af880d28148011",
        "type": "mqtt-broker",
        "name": "Local ESP32 Broker",
        "broker": "localhost",
        "port": 1883,
        "autoConnect": true
    },
    {
        "id": "1dbfc5542fd1f7d3",
        "type": "ui-base",
        "name": "Plant System Pro",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "26cf25cd9cded101",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ee564268b13b182a",
        "type": "ui-page",
        "name": "System Overview",
        "ui": "1dbfc5542fd1f7d3",
        "path": "/home",
        "layout": "grid",
        "theme": "26cf25cd9cded101",
        "breakpoints": [
            { "name": "Default", "px": 0, "cols": 3 },
            { "name": "Tablet", "px": 576, "cols": 6 },
            { "name": "Small Desktop", "px": 768, "cols": 9 },
            { "name": "Desktop", "px": 1024, "cols": 12 }
        ],
        "order": 1,
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e259cecb9314428d",
        "type": "ui-group",
        "name": "Live Gauges",
        "page": "ee564268b13b182a",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1e4dcb35a485c2a0",
        "type": "ui-group",
        "name": "Historical Charts & Stats",
        "page": "ee564268b13b182a",
        "width": "8",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6c84135fbd0d60dd",
        "type": "ui-group",
        "name": "Settings & Controls",
        "page": "ee564268b13b182a",
        "width": "4",
        "order": 3
    },
    {
        "id": "26a394817a7b70ba",
        "type": "mqtt in",
        "z": "81df65c5080d9ae6",
        "name": "STM32 Sensors",
        "topic": "stm32/sensors",
        "qos": "0",
        "datatype": "json",
        "broker": "c0af880d28148011",
        "x": 100,
        "y": 260,
        "wires": [
            [ "011f0074a21222d3" ]
        ]
    },
    {
        "id": "011f0074a21222d3",
        "type": "function",
        "z": "81df65c5080d9ae6",
        "name": "Parse & Calculate Stats",
        "func": "var p = msg.payload;\n\nvar msg_h = { \n    payload: p.h || 0, \n    topic: 'Health',\n    ui_update: { segments: [ { from: 0, color: \"#ea5353\" }, { from: 40, color: \"#ffc800\" }, { from: 80, color: \"#5cd65c\" } ] }\n};\n\nvar msg_s_gauge = { \n    payload: p.s || 0, \n    ui_update: { segments: [ { from: 0, color: \"#ea5353\" }, { from: p.sl || 30, color: \"#5cd65c\" }, { from: p.sh || 45, color: \"#ffc800\" } ] }\n};\nvar msg_s_chart = [ \n    { payload: p.s || 0, topic: 'Soil Moisture' }, \n    { payload: p.sl || 0, topic: 'Low Limit' }, \n    { payload: p.sh || 0, topic: 'High Limit' } \n];\n\nvar msg_t_gauge = { \n    payload: p.t || 0, \n    ui_update: { segments: [ { from: 0, color: \"#0094CE\" }, { from: p.tl || 28, color: \"#5cd65c\" }, { from: p.th || 30, color: \"#ea5353\" } ] }\n};\nvar msg_t_chart = [ \n    { payload: p.t || 0, topic: 'Temperature' }, \n    { payload: p.tl || 0, topic: 'Low Limit' }, \n    { payload: p.th || 0, topic: 'High Limit' } \n];\n\nvar msg_l_gauge = { \n    payload: p.l || 0, \n    ui_update: { segments: [ { from: 0, color: \"#ea5353\" }, { from: p.ll || 30, color: \"#5cd65c\" }, { from: p.lh || 50, color: \"#ffc800\" } ] }\n};\nvar msg_l_chart = [ \n    { payload: p.l || 0, topic: 'Light' }, \n    { payload: p.ll || 0, topic: 'Low Limit' }, \n    { payload: p.lh || 0, topic: 'High Limit' } \n];\n\nvar stat_h = { payload: \"Current Health: \" + (p.h||0) + \"%\" };\nvar stat_s = { payload: \"Current Soil: \" + (p.s||0) + \"%\" };\nvar stat_t = { payload: \"Current Temp: \" + (p.t||0) + \"°C\" };\nvar stat_l = { payload: \"Current Light: \" + (p.l||0) + \"%\" };\n\nvar pf_status = p.pf ? \"CRITICAL: PUMP ERROR!\" : \"System Normal\";\nvar am_status = p.am ? \"AUTO\" : \"MANUAL\";\nvar day_status = p.day ? \"DAY MODE\" : \"NIGHT MODE\";\nvar msg_status = { payload: pf_status + \" | \" + am_status + \" | \" + day_status };\nvar msg_dry = { payload: p.dv };\nvar msg_wet = { payload: p.wv };\nvar act_status = { payload: \"Pump: \" + (p.p ? \"ON\" : \"OFF\") + \" | Fan: \" + (p.f ? \"ON\" : \"OFF\") + \" | Light: \" + (p.pl ? \"ON\" : \"OFF\") };\n\n// Send thresholds as numbers so the Sliders visually update instantly\nvar txt_sl = { payload: p.sl || 0 };\nvar txt_sh = { payload: p.sh || 0 };\nvar txt_tl = { payload: p.tl || 0 };\nvar txt_th = { payload: p.th || 0 };\nvar txt_ll = { payload: p.ll || 0 };\nvar txt_lh = { payload: p.lh || 0 };\n\nreturn [\n    msg_h,              // Output 1: Health Gauge & Chart\n    msg_s_gauge,        // Output 2: ONLY Soil Gauge\n    msg_s_chart,        // Output 3: ONLY Soil Chart \n    msg_t_gauge,        // Output 4: ONLY Temp Gauge\n    msg_t_chart,        // Output 5: ONLY Temp Chart\n    msg_l_gauge,        // Output 6: ONLY Light Gauge\n    msg_l_chart,        // Output 7: ONLY Light Chart\n    stat_h, stat_s, stat_t, stat_l, // Outputs 8-11: Stats (Unwired to save UI space)\n    msg_status, msg_dry, msg_wet,   // Outputs 12-14: Status texts\n    txt_sl, txt_sh, txt_tl, txt_th, txt_ll, txt_lh, // Outputs 15-20: Routed straight to sliders\n    act_status          // Output 21: Actuators Status\n];",
        "outputs": 21,
        "x": 300,
        "y": 260,
        "wires": [
            [ "cb747bea10aa9997", "a02876f557dfb43f" ],
            [ "db0525c7f33ee5ab" ],
            [ "0c88429b61dfe990" ],
            [ "d4f1bf0360db1810" ],
            [ "60b0bcda1557ed62" ],
            [ "f15e850521ed971a" ],
            [ "0888c214d2efc8b7" ],
            [], [], [], [],
            [ "0ee42118c9997763" ],
            [ "ba7462e8591c716c" ],
            [ "36c059908237c27a" ],
            [ "b7046815d4c0ad92" ],
            [ "151ba35f4324d6eb" ],
            [ "8f7cea535b594b5a" ],
            [ "d5a32e800cff4438" ],
            [ "40365edb723b5c93" ],
            [ "9e852c9cf323160e" ],
            [ "f1b970fc251dc771" ]
        ]
    },
    {
        "id": "cb747bea10aa9997",
        "type": "ui-gauge",
        "z": "81df65c5080d9ae6",
        "name": "Health %",
        "group": "e259cecb9314428d",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Health",
        "units": "%",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [ { "from": "0", "color": "#ea5353" }, { "from": "40.0", "color": "#ffc800" }, { "from": "70.0", "color": "#5cd65c" } ],
        "min": 0, "max": 100,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 40,
        "wires": [ [] ]
    },
    {
        "id": "db0525c7f33ee5ab",
        "type": "ui-gauge",
        "z": "81df65c5080d9ae6",
        "name": "Soil %",
        "group": "e259cecb9314428d",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Soil Moisture",
        "units": "%",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [ { "from": "0", "color": "#ea5353" }, { "from": "40.0", "color": "#ffc800" }, { "from": "70.0", "color": "#5cd65c" } ],
        "min": 0, "max": 100,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 80,
        "wires": [ [] ]
    },
    {
        "id": "d4f1bf0360db1810",
        "type": "ui-gauge",
        "z": "81df65c5080d9ae6",
        "name": "Temp C",
        "group": "e259cecb9314428d",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "units": "°C",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [ { "from": "0", "color": "#ea5353" }, { "from": "20.0", "color": "#ffc800" }, { "from": "35.0", "color": "#5cd65c" } ],
        "min": 0, "max": 50,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 120,
        "wires": [ [] ]
    },
    {
        "id": "f15e850521ed971a",
        "type": "ui-gauge",
        "z": "81df65c5080d9ae6",
        "name": "Light %",
        "group": "e259cecb9314428d",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Light Intensity",
        "units": "%",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [ { "from": "0", "color": "#ea5353" }, { "from": "40.0", "color": "#ffc800" }, { "from": "70.0", "color": "#5cd65c" } ],
        "min": 0, "max": 100,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 160,
        "wires": [ [] ]
    },
    {
        "id": "a02876f557dfb43f",
        "type": "ui-chart",
        "z": "81df65c5080d9ae6",
        "group": "1e4dcb35a485c2a0",
        "name": "Health Chart",
        "label": "Health Chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "HH:mm:ss",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": 0, "ymax": 100,
        "action": "append",
        "removeOlder": 24,
        "removeOlderUnit": "3600",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "interpolation": "linear",
        "className": "",
        "colors": [ "#0095ff", "#ff0000", "#ff7f0e", "#2ca02c", "#a347e1", "#d62728", "#ff9896", "#9467bd", "#c5b0d5" ],
        "width": "8", "height": "5",
        "x": 600,
        "y": 200,
        "wires": [ [] ]
    },
    {
        "id": "0c88429b61dfe990",
        "type": "ui-chart",
        "z": "81df65c5080d9ae6",
        "group": "1e4dcb35a485c2a0",
        "name": "Soil Chart",
        "label": "Soil Chart",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "HH:mm:ss",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": 0, "ymax": 100,
        "action": "append",
        "removeOlder": 24,
        "removeOlderUnit": "3600",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "interpolation": "linear",
        "className": "",
        "colors": [ "#0095ff", "#ff0000", "#ff7f0e", "#2ca02c", "#a347e1", "#d62728", "#ff9896", "#9467bd", "#c5b0d5" ],
        "width": "8", "height": "5",
        "x": 600,
        "y": 240,
        "wires": [ [] ]
    },
    {
        "id": "60b0bcda1557ed62",
        "type": "ui-chart",
        "z": "81df65c5080d9ae6",
        "group": "1e4dcb35a485c2a0",
        "name": "Temp Chart",
        "label": "Temp Chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "HH:mm:ss",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": 0, "ymax": 50,
        "action": "append",
        "removeOlder": 24,
        "removeOlderUnit": "3600",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "interpolation": "linear",
        "className": "",
        "colors": [ "#0095ff", "#ff0000", "#ff7f0e", "#2ca02c", "#a347e1", "#d62728", "#ff9896", "#9467bd", "#c5b0d5" ],
        "width": "8", "height": "5",
        "x": 600,
        "y": 280,
        "wires": [ [] ]
    },
    {
        "id": "0888c214d2efc8b7",
        "type": "ui-chart",
        "z": "81df65c5080d9ae6",
        "group": "1e4dcb35a485c2a0",
        "name": "Light Chart",
        "label": "Light Chart",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "HH:mm:ss",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": 0, "ymax": 100,
        "action": "append",
        "removeOlder": 24,
        "removeOlderUnit": "3600",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "interpolation": "linear",
        "className": "",
        "colors": [ "#0095ff", "#ff0000", "#ff7f0e", "#2ca02c", "#a347e1", "#d62728", "#ff9896", "#9467bd", "#c5b0d5" ],
        "width": "8", "height": "5",
        "x": 600,
        "y": 320,
        "wires": [ [] ]
    },
    {
        "id": "c8ac154b1d7d7aa7",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Auto ON",
        "label": "Enable Auto Mode",
        "order": 1,
        "width": "2",
        "height": "1",
        "payload": "1",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 360,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "2179ec3c536bd53f",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Day Mode",
        "label": "Day Mode",
        "order": 2,
        "width": "2",
        "height": "1",
        "payload": "17",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 400,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "de378ef1de7c6c24",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Night Mode",
        "label": "Night Mode",
        "order": 3,
        "width": "2",
        "height": "1",
        "payload": "18",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 440,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "9a749a63b37e03ec",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Pump ON",
        "label": "Pump ON",
        "order": 4,
        "width": "2",
        "height": "1",
        "payload": "3",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 480,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "0bd6150978546878",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Pump OFF",
        "label": "Pump OFF",
        "order": 5,
        "width": "2",
        "height": "1",
        "payload": "2",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 520,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "19efcd095893900a",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Fan ON",
        "label": "Fan ON",
        "order": 6,
        "width": "2",
        "height": "1",
        "payload": "5",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 560,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "61f1f14e51f6681a",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Fan OFF",
        "label": "Fan OFF",
        "order": 7,
        "width": "2",
        "height": "1",
        "payload": "4",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 600,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "07d76c99df224e84",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Light ON",
        "label": "Light ON",
        "order": 8,
        "width": "2",
        "height": "1",
        "payload": "7",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 640,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "4cc09251e7a19f0f",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Light OFF",
        "label": "Light OFF",
        "order": 9,
        "width": "2",
        "height": "1",
        "payload": "6",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 680,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "46ac0dd684ceab8b",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Cal Dry",
        "label": "Cal DRY",
        "order": 10,
        "width": "2",
        "height": "1",
        "payload": "8",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 720,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "a8ee6f8e174b6b82",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Cal Wet",
        "label": "Cal WET",
        "order": 11,
        "width": "2",
        "height": "1",
        "payload": "9",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 760,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "6c87c555103bbaf1",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Reset FS",
        "label": "Reset Pump FS",
        "order": 12,
        "width": "2",
        "height": "1",
        "payload": "10",
        "payloadType": "str",
        "topic": "stm32/commands",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 800,
        "wires": [ [ "b50fc4875f6bf43f", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "385e7ea4e267a830",
        "type": "ui-button",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Reset Stats",
        "label": "Reset Stats",
        "order": 13,
        "width": "2",
        "height": "1",
        "payload": "reset",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 840,
        "wires": [ [ "376ae8c6e4362408", "b44c3ded791ee9ca" ] ]
    },
    {
        "id": "b7046815d4c0ad92",
        "type": "ui-slider",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Soil Low (%)",
        "label": "Soil Low (%)",
        "order": 14,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "11",
        "topicType": "str",
        "thumbLabel": "true",
        "min": 0, "max": 100, "step": 1,
        "className": "",
        "x": 600,
        "y": 880,
        "wires": [ [ "c6411159ce97c055" ] ]
    },
    {
        "id": "151ba35f4324d6eb",
        "type": "ui-slider",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Soil High (%)",
        "label": "Soil High (%)",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "12",
        "topicType": "str",
        "thumbLabel": "true",
        "min": 0, "max": 100, "step": 1,
        "className": "",
        "x": 600,
        "y": 920,
        "wires": [ [ "c6411159ce97c055" ] ]
    },
    {
        "id": "8f7cea535b594b5a",
        "type": "ui-slider",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Temp Low (°C)",
        "label": "Temp Low (°C)",
        "order": 16,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "13",
        "topicType": "str",
        "thumbLabel": "true",
        "min": 0, "max": 50, "step": 1,
        "className": "",
        "x": 600,
        "y": 960,
        "wires": [ [ "c6411159ce97c055" ] ]
    },
    {
        "id": "d5a32e800cff4438",
        "type": "ui-slider",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Temp High (°C)",
        "label": "Temp High (°C)",
        "order": 17,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "14",
        "topicType": "str",
        "thumbLabel": "true",
        "min": 0, "max": 50, "step": 1,
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": [ [ "c6411159ce97c055" ] ]
    },
    {
        "id": "40365edb723b5c93",
        "type": "ui-slider",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Light Low (%)",
        "label": "Light Low (%)",
        "order": 18,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "15",
        "topicType": "str",
        "thumbLabel": "true",
        "min": 0, "max": 100, "step": 1,
        "className": "",
        "x": 600,
        "y": 1040,
        "wires": [ [ "c6411159ce97c055" ] ]
    },
    {
        "id": "9e852c9cf323160e",
        "type": "ui-slider",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "name": "Light High (%)",
        "label": "Light High (%)",
        "order": 19,
        "width": "4",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "16",
        "topicType": "str",
        "thumbLabel": "true",
        "min": 0, "max": 100, "step": 1,
        "className": "",
        "x": 600,
        "y": 1080,
        "wires": [ [ "c6411159ce97c055" ] ]
    },
    {
        "id": "0ee42118c9997763",
        "type": "ui-text",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "order": 20,
        "width": "4",
        "height": "1",
        "name": "System Status",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "value": "payload",
        "valueType": "msg",
        "className": "",
        "x": 600,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f1b970fc251dc771",
        "type": "ui-text",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "order": 21,
        "width": "4",
        "height": "1",
        "name": "Actuators Status",
        "label": "Actuators:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ba7462e8591c716c",
        "type": "ui-text",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "order": 22,
        "width": "4",
        "height": "1",
        "name": "Dry Cal Point",
        "label": "Dry Cal Point:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "value": "payload",
        "valueType": "msg",
        "className": "",
        "x": 600,
        "y": 1200,
        "wires": []
    },
    {
        "id": "36c059908237c27a",
        "type": "ui-text",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "order": 23,
        "width": "4",
        "height": "1",
        "name": "Wet Cal Point",
        "label": "Wet Cal Point:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "value": "payload",
        "valueType": "msg",
        "className": "",
        "x": 600,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7ead712f6cb4edf5",
        "type": "ui-text",
        "z": "81df65c5080d9ae6",
        "group": "6c84135fbd0d60dd",
        "order": 24,
        "width": "4",
        "height": "1",
        "name": "Latency Display",
        "label": "Action Latency:",
        "format": "{{msg.payload}} ms",
        "layout": "row-spread",
        "color": "#00FF00",
        "className": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "376ae8c6e4362408",
        "type": "function",
        "z": "81df65c5080d9ae6",
        "func": "flow.set('plant_stats', undefined); return null;",
        "outputs": 1,
        "x": 800,
        "y": 840,
        "wires": [ [] ]
    },
    {
        "id": "c6411159ce97c055",
        "type": "function",
        "z": "81df65c5080d9ae6",
        "name": "Format Cmd",
        "func": "\nif (msg.payload !== undefined && msg.payload !== null) {\n    var val = typeof msg.payload === 'object' ? msg.payload.value || msg.payload : msg.payload;\n    msg.payload = msg.topic + ':' + String(val);\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "x": 800,
        "y": 960,
        "wires": [ [ "b50fc4875f6bf43f" ] ]
    },
    {
        "id": "b44c3ded791ee9ca",
        "type": "function",
        "z": "81df65c5080d9ae6",
        "name": "Calculate Latency",
        "func": "\nif (msg.topic === \"stm32/commands\") {\n    flow.set(\"last_click_time\", Date.now());\n    return null;\n}\nconst lastClick = flow.get(\"last_click_time\");\nconst lastCmd = msg.payload.c;\n\nif (lastClick && lastCmd !== \"WAIT\") {\n    const latency = Date.now() - lastClick;\n    flow.set(\"last_click_time\", null);\n    return { payload: latency };\n}\nreturn null;\n",
        "outputs": 1,
        "x": 800,
        "y": 400,
        "wires": [ [ "7ead712f6cb4edf5" ] ]
    },
    {
        "id": "b50fc4875f6bf43f",
        "type": "mqtt out",
        "z": "81df65c5080d9ae6",
        "name": "STM32 Commands",
        "topic": "stm32/commands",
        "qos": "0",
        "retain": "false",
        "broker": "c0af880d28148011",
        "x": 1000,
        "y": 600,
        "wires": []
    },
    {
        "id": "539aeb8ba4455723",
        "type": "inject",
        "z": "81df65c5080d9ae6",
        "name": "Morning Schedule (06:00)",
        "props": [ { "p": "payload" } ],
        "crontab": "00 06 * * *",
        "payload": "17",
        "payloadType": "str",
        "x": 120,
        "y": 340,
        "wires": [ [ "b50fc4875f6bf43f" ] ]
    },
    {
        "id": "96403e2890f4722e",
        "type": "inject",
        "z": "81df65c5080d9ae6",
        "name": "Night Schedule (20:00)",
        "props": [ { "p": "payload" } ],
        "crontab": "00 20 * * *",
        "payload": "18",
        "payloadType": "str",
        "x": 110,
        "y": 380,
        "wires": [ [ "b50fc4875f6bf43f" ] ]
    },
    {
        "id": "db721a656fd64cc3",
        "type": "global-config",
        "env": [],
        "modules": { "@flowfuse/node-red-dashboard": "1.30.2" }
    }
]
