node-red/final_version.json
[{"id":"fd84dde21ba11069","type":"tab","label":"Smart Plant Dashboard (Pro)","disabled":false,"info":""},{"id":"e9adad2aa7674c97","type":"mqtt-broker","name":"Local ESP32 Broker","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":15,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f40a7b04c5882d20","type":"ui-base","name":"Plant System Pro","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default","titleBarStyle":"default"},{"id":"a296bd0d6454d78b","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"6897d5b6fd35a727","type":"ui-page","name":"System Overview","ui":"f40a7b04c5882d20","path":"/home","layout":"grid","theme":"a296bd0d6454d78b","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"visible":"true","disabled":"false"},{"id":"530dbf88cd8d56ad","type":"ui-group","name":"Live Gauges","page":"6897d5b6fd35a727","width":"12","height":"1","order":1,"showTitle":true,"visible":"true","disabled":"false","groupType":"default"},{"id":"541f0420983e83ee","type":"ui-group","name":"Historical Charts & Stats","page":"6897d5b6fd35a727","width":"8","height":"1","order":2,"showTitle":true,"visible":"true","disabled":"false","groupType":"default"},{"id":"ff66c6f11a9c78ea","type":"ui-group","name":"Settings & Controls","page":"6897d5b6fd35a727","width":"4","order":3},{"id":"e68d8f994dfb2eb8","type":"mqtt in","z":"fd84dde21ba11069","name":"STM32 Sensors","topic":"stm32/sensors","qos":"0","datatype":"json","broker":"e9adad2aa7674c97","inputs":0,"x":110,"y":500,"wires":[["342b830de88d880d","0712a58540a505a3"]]},{"id":"342b830de88d880d","type":"function","z":"fd84dde21ba11069","name":"Parse & Calculate Stats","func":"var p = msg.payload;\n\nvar msg_h = { \n    payload: p.h || 0, \n    topic: 'Health',\n    ui_update: { segments: [ { from: 0, color: \"#ea5353\" }, { from: 40, color: \"#ffc800\" }, { from: 80, color: \"#5cd65c\" } ] }\n};\n\nvar msg_s_gauge = { \n    payload: p.s || 0, \n    ui_update: { segments: [ { from: 0, color: \"#ea5353\" }, { from: p.sl || 30, color: \"#5cd65c\" }, { from: p.sh || 45, color: \"#ffc800\" } ] }\n};\nvar msg_s_chart = [ \n    { payload: p.s || 0, topic: 'Soil Moisture' }, \n    { payload: p.sl || 0, topic: 'Low Limit' }, \n    { payload: p.sh || 0, topic: 'High Limit' } \n];\n\nvar msg_t_gauge = { \n    payload: p.t || 0, \n    ui_update: { segments: [ { from: 0, color: \"#0094CE\" }, { from: p.tl || 28, color: \"#5cd65c\" }, { from: p.th || 30, color: \"#ea5353\" } ] }\n};\nvar msg_t_chart = [ \n    { payload: p.t || 0, topic: 'Temperature' }, \n    { payload: p.tl || 0, topic: 'Low Limit' }, \n    { payload: p.th || 0, topic: 'High Limit' } \n];\n\nvar msg_l_gauge = { \n    payload: p.l || 0, \n    ui_update: { segments: [ { from: 0, color: \"#ea5353\" }, { from: p.ll || 30, color: \"#5cd65c\" }, { from: p.lh || 50, color: \"#ffc800\" } ] }\n};\nvar msg_l_chart = [ \n    { payload: p.l || 0, topic: 'Light' }, \n    { payload: p.ll || 0, topic: 'Low Limit' }, \n    { payload: p.lh || 0, topic: 'High Limit' } \n];\n\nvar stat_h = { payload: \"Current Health: \" + (p.h||0) + \"%\" };\nvar stat_s = { payload: \"Current Soil: \" + (p.s||0) + \"%\" };\nvar stat_t = { payload: \"Current Temp: \" + (p.t||0) + \"°C\" };\nvar stat_l = { payload: \"Current Light: \" + (p.l||0) + \"%\" };\n\nvar pf_status = p.pf ? \"CRITICAL: PUMP ERROR!\" : \"System Normal\";\nvar am_status = p.am ? \"AUTO\" : \"MANUAL\";\nvar day_status = p.day ? \"DAY MODE\" : \"NIGHT MODE\";\nvar msg_status = { payload: pf_status + \" | \" + am_status + \" | \" + day_status };\nvar msg_dry = { payload: p.dv };\nvar msg_wet = { payload: p.wv };\nvar act_status = { payload: \"Pump: \" + (p.p ? \"ON\" : \"OFF\") + \" | Fan: \" + (p.f ? \"ON\" : \"OFF\") + \" | Light: \" + (p.pl ? \"ON\" : \"OFF\") };\n\n// Send thresholds as numbers so the Sliders visually update instantly\n// CHECK UI LOCKOUT: Has a slider been moved in the last 3000 milliseconds?\nvar lastMoveTime = flow.get(\"slider_lockout_time\") || 0;\nvar isLockedOut = (Date.now() - lastMoveTime) < 3000;\n\n// If locked out, return null so the sliders don't receive old data and jump back.\n// If NOT locked out, route the STM32 values to the sliders to keep them synced.\nvar txt_sl = isLockedOut ? null : { payload: p.sl || 0 };\nvar txt_sh = isLockedOut ? null : { payload: p.sh || 0 };\nvar txt_tl = isLockedOut ? null : { payload: p.tl || 0 };\nvar txt_th = isLockedOut ? null : { payload: p.th || 0 };\nvar txt_ll = isLockedOut ? null : { payload: p.ll || 0 };\nvar txt_lh = isLockedOut ? null : { payload: p.lh || 0 };\n\nreturn [\n    msg_h,              // Output 1: Health Gauge & Chart\n    msg_s_gauge,        // Output 2: ONLY Soil Gauge\n    msg_s_chart,        // Output 3: ONLY Soil Chart \n    msg_t_gauge,        // Output 4: ONLY Temp Gauge\n    msg_t_chart,        // Output 5: ONLY Temp Chart\n    msg_l_gauge,        // Output 6: ONLY Light Gauge\n    msg_l_chart,        // Output 7: ONLY Light Chart\n    stat_h, stat_s, stat_t, stat_l, // Outputs 8-11: Stats \n    msg_status, msg_dry, msg_wet,   // Outputs 12-14: Status texts\n    txt_sl, txt_sh, txt_tl, txt_th, txt_ll, txt_lh, // Outputs 15-20: Protected Sliders!\n    act_status          // Output 21: Actuators Status\n];","outputs":21,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["149ba14273e6f0c6","0641c0d3b0732c74"],["f0d68825f5528294"],["e3d9426119bfe817"],["89221d10cb2f1350"],["488885d238182782"],["ba477af9bbb752b2"],["f7b195add30da906"],[],[],[],[],["c02f06f8e98262a0"],["00b2fe4bae302da2"],["30e3d5a649610207"],["caf2ff4bca56cbec"],["328a6e4cf15a19f1"],["3f43a89c6dcd8a58"],["ed5b88b08f7c5962"],["837ff786352159c5"],["bfab1dd8e63eb524"],["f686f76f0adf3d49"]]},{"id":"149ba14273e6f0c6","type":"ui-gauge","z":"fd84dde21ba11069","name":"Health %","group":"530dbf88cd8d56ad","order":1,"value":"payload","valueType":"msg","width":"3","height":"3","gtype":"gauge-half","gstyle":"needle","title":"Health","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"40.0","color":"#ffc800"},{"from":"70.0","color":"#5cd65c"}],"min":0,"max":100,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":600,"y":40,"wires":[[]]},{"id":"f0d68825f5528294","type":"ui-gauge","z":"fd84dde21ba11069","name":"Soil %","group":"530dbf88cd8d56ad","order":2,"value":"payload","valueType":"msg","width":"3","height":"3","gtype":"gauge-half","gstyle":"needle","title":"Soil Moisture","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"40.0","color":"#ffc800"},{"from":"70.0","color":"#5cd65c"}],"min":0,"max":100,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":600,"y":80,"wires":[[]]},{"id":"89221d10cb2f1350","type":"ui-gauge","z":"fd84dde21ba11069","name":"Temp C","group":"530dbf88cd8d56ad","order":3,"value":"payload","valueType":"msg","width":"3","height":"3","gtype":"gauge-half","gstyle":"needle","title":"Temperature","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"20.0","color":"#ffc800"},{"from":"35.0","color":"#5cd65c"}],"min":0,"max":50,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":600,"y":120,"wires":[[]]},{"id":"ba477af9bbb752b2","type":"ui-gauge","z":"fd84dde21ba11069","name":"Light %","group":"530dbf88cd8d56ad","order":4,"value":"payload","valueType":"msg","width":"3","height":"3","gtype":"gauge-half","gstyle":"needle","title":"Light Intensity","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"40.0","color":"#ffc800"},{"from":"70.0","color":"#5cd65c"}],"min":0,"max":100,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":600,"y":160,"wires":[[]]},{"id":"0641c0d3b0732c74","type":"ui-chart","z":"fd84dde21ba11069","group":"541f0420983e83ee","name":"Health Chart","label":"Health Chart","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"HH:mm:ss","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":0,"ymax":100,"action":"append","pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":24,"removeOlderUnit":"3600","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"5","className":"","interpolation":"linear","x":600,"y":200,"wires":[[]]},{"id":"e3d9426119bfe817","type":"ui-chart","z":"fd84dde21ba11069","group":"541f0420983e83ee","name":"Soil Chart","label":"Soil Chart","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"HH:mm:ss","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":0,"ymax":100,"action":"append","pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":24,"removeOlderUnit":"3600","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"5","className":"","interpolation":"linear","x":600,"y":240,"wires":[[]]},{"id":"488885d238182782","type":"ui-chart","z":"fd84dde21ba11069","group":"541f0420983e83ee","name":"Temp Chart","label":"Temp Chart","order":3,"chartType":"line","category":"topic","categoryType":"msg","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"HH:mm:ss","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":0,"ymax":50,"action":"append","pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":24,"removeOlderUnit":"3600","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"5","className":"","interpolation":"linear","x":600,"y":280,"wires":[[]]},{"id":"f7b195add30da906","type":"ui-chart","z":"fd84dde21ba11069","group":"541f0420983e83ee","name":"Light Chart","label":"Light Chart","order":4,"chartType":"line","category":"topic","categoryType":"msg","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"HH:mm:ss","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":0,"ymax":100,"action":"append","pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":24,"removeOlderUnit":"3600","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"5","className":"","interpolation":"linear","x":600,"y":320,"wires":[[]]},{"id":"7f07489e7a148747","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Auto ON","label":"Enable Auto Mode","order":4,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"1","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":610,"y":360,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"8896bda58c6adcc1","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Day Mode","label":"Day Mode","order":6,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"17","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":400,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"a9c6d9dbfc6a2aeb","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Night Mode","label":"Night Mode","order":7,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"18","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":440,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"97da4cc9f1bb7bbf","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Pump ON","label":"Pump ON","order":8,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"3","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":480,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"3cd949a7ca01ce15","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Pump OFF","label":"Pump OFF","order":9,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"2","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":520,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"fb98e4cf99bab7ba","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Fan ON","label":"Fan ON","order":10,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"5","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":560,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"7cc8202a8f9e7be1","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Fan OFF","label":"Fan OFF","order":11,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"4","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":600,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"75f240ed6721452a","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Light ON","label":"Light ON","order":12,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"7","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":640,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"f6f9ae62b4018109","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Light OFF","label":"Light OFF","order":13,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"6","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":680,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"e8f89fcb1cbd77f5","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Cal Dry","label":"Cal DRY","order":14,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"8","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":720,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"c6ba9b8bfdf5951f","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Cal Wet","label":"Cal WET","order":15,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"9","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":760,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"d2289a71c859900f","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Reset FS","label":"Reset Pump FS","order":16,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"10","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":600,"y":800,"wires":[["86cd54f63bad217a","0712a58540a505a3"]]},{"id":"caf2ff4bca56cbec","type":"ui-slider","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Soil Low (%)","label":"Soil Low (%)","order":17,"width":"4","height":"1","passthru":false,"outs":"end","topic":"11","topicType":"str","thumbLabel":"true","min":0,"max":100,"step":1,"className":"","x":600,"y":880,"wires":[["41825b5e9f830213"]]},{"id":"328a6e4cf15a19f1","type":"ui-slider","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Soil High (%)","label":"Soil High (%)","order":18,"width":"4","height":"1","passthru":false,"outs":"end","topic":"12","topicType":"str","thumbLabel":"true","min":0,"max":100,"step":1,"className":"","x":600,"y":920,"wires":[["41825b5e9f830213"]]},{"id":"3f43a89c6dcd8a58","type":"ui-slider","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Temp Low (°C)","label":"Temp Low (°C)","order":19,"width":"4","height":"1","passthru":false,"outs":"end","topic":"13","topicType":"str","thumbLabel":"true","min":0,"max":50,"step":1,"className":"","x":600,"y":960,"wires":[["41825b5e9f830213"]]},{"id":"ed5b88b08f7c5962","type":"ui-slider","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Temp High (°C)","label":"Temp High (°C)","order":20,"width":"4","height":"1","passthru":false,"outs":"end","topic":"14","topicType":"str","thumbLabel":"true","min":0,"max":50,"step":1,"className":"","x":600,"y":1000,"wires":[["41825b5e9f830213"]]},{"id":"837ff786352159c5","type":"ui-slider","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Light Low (%)","label":"Light Low (%)","order":21,"width":"4","height":"1","passthru":false,"outs":"end","topic":"15","topicType":"str","thumbLabel":"true","min":0,"max":100,"step":1,"className":"","x":600,"y":1040,"wires":[["41825b5e9f830213"]]},{"id":"bfab1dd8e63eb524","type":"ui-slider","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Light High (%)","label":"Light High (%)","order":22,"width":"4","height":"1","passthru":false,"outs":"end","topic":"16","topicType":"str","thumbLabel":"true","min":0,"max":100,"step":1,"className":"","x":600,"y":1080,"wires":[["41825b5e9f830213"]]},{"id":"c02f06f8e98262a0","type":"ui-text","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","order":1,"width":"4","height":"1","name":"System Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","value":"payload","valueType":"msg","x":600,"y":1120,"wires":[]},{"id":"f686f76f0adf3d49","type":"ui-text","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","order":2,"width":"4","height":"1","name":"Actuators Status","label":"Actuators:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":600,"y":1160,"wires":[]},{"id":"00b2fe4bae302da2","type":"ui-text","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","order":23,"width":"4","height":"1","name":"Dry Cal Point","label":"Dry Cal Point:","format":"{{msg.payload}}","layout":"row-spread","className":"","value":"payload","valueType":"msg","x":600,"y":1200,"wires":[]},{"id":"30e3d5a649610207","type":"ui-text","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","order":24,"width":"4","height":"1","name":"Wet Cal Point","label":"Wet Cal Point:","format":"{{msg.payload}}","layout":"row-spread","className":"","value":"payload","valueType":"msg","x":600,"y":1240,"wires":[]},{"id":"d43c354a98c48a5f","type":"ui-text","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","order":3,"width":"4","height":"1","name":"Latency Display","label":"Action Latency:","format":"{{msg.payload}} ms","layout":"row-spread","style":false,"font":"","fontSize":"","color":"#00ff00","wrapText":false,"className":"","value":"payload","valueType":"msg","x":1010,"y":380,"wires":[]},{"id":"41825b5e9f830213","type":"function","z":"fd84dde21ba11069","name":"Format Cmd","func":"if (msg.payload !== undefined && msg.payload !== null) {\n    var val = typeof msg.payload === 'object' ? msg.payload.value || msg.payload : msg.payload;\n    msg.payload = msg.topic + ':' + String(val);\n\n    // START UI LOCKOUT: Record the exact time the slider was moved\n    flow.set(\"slider_lockout_time\", Date.now());\n\n    return msg;\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":960,"wires":[["86cd54f63bad217a"]]},{"id":"0712a58540a505a3","type":"function","z":"fd84dde21ba11069","name":"Calculate Latency","func":"// PHASE 1: Outbound Command Handling (From Dashboard to Node-RED)\nif (msg.topic === \"stm32/commands\") {\n    // The UI button sends a raw string or number (e.g., \"5\"), NOT a JSON object.\n    // We check that it is not null or empty.\n    if (msg.payload !== undefined && msg.payload !== null) {\n\n        // Start the timer\n        flow.set(\"last_click_time\", Date.now());\n\n        // Store the raw string (Force it to a String to guarantee a match later)\n        flow.set(\"pending_command\", String(msg.payload));\n    }\n\n    // Stop the outbound message from passing through to the latency text display\n    return null;\n}\n\n// PHASE 2: Inbound Response Handling (From STM32 back to Node-RED)\nif (msg.topic === \"stm32/sensors\") {\n\n    // Retrieve the active tracking variables\n    const lastClick = flow.get(\"last_click_time\");\n    const pendingCmd = flow.get(\"pending_command\");\n\n    // SAFETY CHECK: Ensure msg.payload is a valid object and contains the 'c' property\n    if (msg.payload && typeof msg.payload.c !== \"undefined\") {\n\n        // Extract the STM32's 'c' value and force it to a String (e.g., \"5\")\n        const incomingCmd = String(msg.payload.c);\n\n        // Check if the timer is running AND the STM32 confirms the exact command we sent\n        if (lastClick && pendingCmd && incomingCmd === pendingCmd) {\n\n            // Calculate the true round-trip latency\n            const latency = Date.now() - lastClick;\n\n            // Clear the tracking variables immediately so it doesn't fire twice\n            flow.set(\"last_click_time\", null);\n            flow.set(\"pending_command\", null);\n\n            // Output the latency to your UI text display node\n            return { payload: latency };\n        }\n    }\n\n    // Ignore routine sensor updates that do not match the pending command\n    return null;\n}\n\n// PHASE 3: Fallback \n// Ignore stray topics or background noise\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["d43c354a98c48a5f"]]},{"id":"86cd54f63bad217a","type":"mqtt out","z":"fd84dde21ba11069","name":"STM32 Commands","topic":"stm32/commands","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e9adad2aa7674c97","x":1000,"y":600,"wires":[]},{"id":"da93d07427d76098","type":"inject","z":"fd84dde21ba11069","name":"Morning Schedule (06:00)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"17","payloadType":"str","x":110,"y":340,"wires":[["86cd54f63bad217a"]]},{"id":"c09154252acf33e2","type":"inject","z":"fd84dde21ba11069","name":"Night Schedule (20:00)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"18","payloadType":"str","x":100,"y":380,"wires":[["86cd54f63bad217a"]]},{"id":"d89b764029bf3e7e","type":"ui-button","z":"fd84dde21ba11069","group":"ff66c6f11a9c78ea","name":"Auto OFF","label":"Disable Auto Mode","order":5,"width":"2","height":"1","emulateClick":false,"className":"","icon":"","iconPosition":"left","payload":"2","payloadType":"str","topic":"stm32/commands","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":610,"y":840,"wires":[["86cd54f63bad217a"]]},{"id":"175e372d2e0c3fe8","type":"global-config","env":[],"modules":{"@flowfuse/node-red-dashboard":"1.30.2"}}]